/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-image: url(../images/portada.png);
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}

h2 {
    color: #004c8c; /* Título en un azul fuerte */
}

/* Barra de navegación */
.navbar {
    background-color: #004c8c; /* Color de la barra de navegación */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.navbar .nav-link {
    color: #333 !important;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: #7ed957 !important;
}

.navbar-brand img {
    max-height: 100px;
    width: auto;
    transition: transform 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

/* Formulario de Inicio de Sesión y Registro */
.form-control {
    border-radius: 5px;
    border: 1px solid #b0c4de;
}

.btn-primary {
    background-color: #004c8c;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #003366;
}

.btn-success {
    background-color: #7ed957;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #66c44f;
}

/* Estilo para el Footer */
.footer {
    background-color: #004c8c;
    color: white;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    text-align: center;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .navbar-brand img {
        max-height: 50px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .container {
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .navbar-brand img {
        max-height: 40px;
    }

    .form-control {
        font-size: 0.9rem;
    }
}

/* Contenido de los formularios */
.container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 8px;
}

/* Estilo para notificaciones */
#notification {
    top: 10px;
    right: 10px;
    max-width: 300px;
    z-index: 1050;
}
